<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/23-12-style.css">
</head>

<body>
    <div class="nabvar">
        <nav>
            <h2 class="logo">Logo</h2>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="btn">
                <!-- <a href="/login">
                    <button type="button" class="btn1">Login</button>
                </a> -->
                <a href="/adminlogin">
                    <button type="button" class="btn2">Admin Login</button>
                </a>
            </div>

        </nav>
        <hr>
    
</body>

</html>