<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <center>
        <form action="/adminlogin" method="post">
            <label for="adminUsername">Admin Username</label>
            <input type="text" name="aun" id="adminUsername"><br><br>
            <label for="password">Password</label>
            <input type="password" name="pwd" id="password"><br><br>
            <button type="submit">Submit</button>
        </form>
        
    </center>
</body>
</html>